@import url("https://fonts.googleapis.com/css2?family=Moul&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

:root {
  --button-color: #aa93f3;
  --black: #000;
  --box-shadow: 7px 10px 21px -6px rgba(0, 0, 0, 0.75);
  --card-border: 1px solid #505050;
  --white-border: 1px solid #fff;
  --green-border: 3px solid #4cd964;
  --red-border: 3px solid #ff3b30;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background: url(../images/background.webp) no-repeat center center fixed;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Moul", cursive;
}

footer {
  margin-top: 1rem;
  flex-shrink: 0;
}

button {
  background-color: var(--button-color);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

header {
  border-bottom: var(--white-border);
}

/* Generics */

.text-center {
  text-align: center;
}

/* Facts Page */

#facts-list {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#facts-list img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.fact-title {
  font-size: 1.25rem;
  font-weight: 700;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: var(--card-border);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.8s,
              background-color 2s ease-out;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  background-color: #fff;
}

.flip-card:hover .flip-card-front{
  display:none;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--card-border);
  border-radius: 5px;
  color: var(--black);
}

/* Style the back side */
.flip-card-back {
  border-radius: 5px;
  color: var(--black);
  transform: rotateY(180deg);

  
}

/* Home page */
.welcome-box {
  text-align: center;
  line-height: 1.4;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.welcome-note {
  text-align: left;
}

/* Style all three games box */
.box {
  box-shadow: var(--box-shadow);
  width: 240px;
  height: 400px;
  text-align: center;
  margin-top: 20px;
}

.box > img {
  width: 200px;
}

/* Style the games box */
.games {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3em;
}

/* Style the first image in the first game box */
.first-game img {
  background-color: white;
  border-radius: 5px;
}

/* Style the buttons in each game box to keep them in the bottom to look nicer */
.box button {
  margin: 5em 5px;
  width: 40%;
}

/* Style a bit different than the other because this game box has a longer */
.third-game button {
  margin: 3.5em 5px;
}

/* To make our website responsive to the different screen sizes */
@media (min-width: 768px) {
  .box {
    width: 300px;
    height: 450px;
  }

  .box button {
    margin: 6.5em 5px;
    width: 40%;
  }

  .second-game button {
    margin: 8em 5px;
  }

  .box img {
    margin-bottom: 30px;
  }
}

/* Quiz page */

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 150px;
  margin: 1rem;
}

/* Style for the correct flag */
.correct-flag {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--white-border);
}

/* Style for the central icon */
.icon-central {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

/* Style for the score display */
.score {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* Style for the messages */
.messages {
  font-size: 1.2rem;
  margin-top: 1rem;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  max-width: 80%;
  margin: 1rem auto;
  display: none;
}

.messages.visible {
  display: block;
}

/* Style for the endgame option buttons */
.endgame-options {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.endgame-options button {
  width: 150px;
  height: 50px;
  background-color: var(--button-color);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.githublinks {
  text-align: center;
}

.githublinks a:hover {
  fill: #79D5EF;
}

/* Style for the next button */
.next {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Glass effect */
.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

svg {
  height: 40px;
  padding: 5px;
}

@keyframes factfade {
  from {display:block}
  to {display:none}
}

